#acoes {
    text-align: right;
    margin-bottom: 20px;
}

.proposta {
    cursor: pointer;
}

.proposta.selecionada {
    background-color: LightGray;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

thead {
    background-color: #f2f2f2;
}