<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Famílias de Bens</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lista_familias.css') }}">
</head>
<body>
    <div id="acoes">
        <button id="incluir">Incluir</button>
        <button id="visualizar" disabled>Visualizar</button>
    </div>
    <h2>Família de Bens</h2>
    <table>
        <thead>
            <tr>
                <th>Família</th>
                <th>Nome da família</th>
            </tr>
        </thead>
        <tbody>
            {% for familia in familias %}
                <tr class="familia" data-family-id="{{ familia.family_id }}">
                    <td class="family-id">{{ familia.family_id }}</td>
                    <td>{{ familia.family_description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">↩</a>
    <script src="{{ url_for('static', filename='lista_familias.js') }}"></script>
</body>
</html>
