<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contratos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lista_contratos.css') }}">
</head>
<body>
    <div id="acoes">
        <button id="visualizar" disabled>Visualizar</button>
        <button id="alterar" disabled>Alterar</button>
        <button id="imprimir" disabled>Imprimir</button>
        <button id="custos_parada" disabled>Custos</button>
    </div>
    <h2>Contrato</h2>
    <table>
        <thead>
            <tr>
                <th>Dt. Emissão</th>
                <th>Contrato N°</th>
                <th>Proposta N°</th>
                <th>Telefone</th>
                <th>Status</th>
                <th>Empresa</th>
            </tr>
        </thead>
        <tbody>
            {% for contrato, company, phone in contratos %}
                <tr class="contrato" data-contract-id="{{ contrato.contract_id }}">
                    <td>{{ contrato.date_issue }}</td>
                    <td>{{ contrato.contract_id }}</td>
                    <td id="proposal-id">{{ contrato.proposal_id }}</td>
                    <td>{{ phone }}</td>
                    <td>{{ contrato.contract_status }}</td>
                    <td>{{ company }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table><br>
    <a href="/">↩</a>
    <script src="{{ url_for('static', filename='lista_contratos.js') }}"></script>
</body>
</html>
